/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.mainbody{
  display: block;
  position: absolute;
}
.ng-enter { animation: fadeInUp 0.7s both ease-in; z-index: 8888; }
.ng-leave { animation: fadeOutUp 0.5s both ease-in; z-index: 9999; }
